<div ng-controller="branchesController">
	<section class="content-header">
		<h1>Adminstraci&oacute;n de sucursales</h1>
	</section>
	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12">

					<div class="box box-primary">
						<div class="box-body">
							<div class="table-responsive  animate-show" ng-hide="showForm">
								<table datatable="ng" class="table table-hover  row-border hover" dt-options="brachesOptionGraph">
									<thead>
										<tr>
											<th scope="row" class="text-center">Nombre agencia</th>
											<th scope="row" class="text-center">Codigo agencia</th>
											<th scope="row" class="text-center">Hora de apertura</th>
											<th scope="row" class="text-center">Hora de cierre</th>
											<th scope="row" class="text-center">Monto Asegurado</th>
											<th scope="row" class="text-center">Monto Autorizado</th>
											<th scope="row" class="text-center"><div class="btn-group" role="group" aria-label="...">
													<button type="button" class="btn btn-default" ng-click="addNew()")>
														<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
													</button>
												</div></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="branch in branches">
											<td>{{ branch.nomAgencia}}</td>
											<td>{{ branch.codigoAgencia}}</td>
											<td>{{ branch.horaApertura | date: "HH:mm"}}</td>
											<td>{{ branch.horaCierre | date: "HH:mm"}}</td>
											<td>{{ branch.montoAsegurado}}</td>
											<td>{{ branch.montoAutorizado}}</td>
											<td>
												<div class="row">
													<div class="col-md-12">
														<div class="btn-group" role="group" aria-label="...">
															<button type="button" class="btn btn-default" ng-click="editBranch(branch)">
																<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
															</button>
															<button type="button" class="btn btn-default" ng-click="confirmDelete(branch)">
																<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
															</button>
														</div>
													</div>
												</div>
											</td>

										</tr>
									</tbody>
								</table>
							</div>
							<div ng-show="showForm" class=" animate-show">




								<div class="form-group">
									<label for="nomAgencia" class="col-sm-4 control-label">Nombre</label>
									<div class="col-sm-8">
										<input type="text" ng-model="selectedBranch.nomAgencia" class="form-control" id="nomAgencia"
											placeholder="Nombre" />
									</div>
								</div>
								<div class="form-group">
									<label for="codAgencia" class="col-sm-4 control-label">C&oacute;digo</label>
									<div class="col-sm-8">
										<input type="number" ng-model="selectedBranch.codigoAgencia" class="form-control" id="codAgencia"
											placeholder="C&oacute;digo" />
									</div>
								</div>
								<div class="form-group">
									<label for="horaApertura" class="col-sm-4 control-label">Hora de apertura</label>
									<div class="col-sm-8">
										<input type="time" ng-model="selectedBranch.horaApertura" class="form-control" id="horaApertura"
											placeholder="Hora de apertura" />
									</div>
								</div>
								<div class="form-group">
									<label for="horaCierre" class="col-sm-4 control-label">Hora de cierre</label>
									<div class="col-sm-8">
										<input type="time" ng-model="selectedBranch.horaCierre" class="form-control" id="horaCierre"
											placeholder="Hora de cierre" />
									</div>
								</div>
								<div class="form-group">
									<label for="montoAsegurado" class="col-sm-4	 control-label">Monto asegurado</label>
									<div class="col-sm-8">
										<input type="number" ng-model="selectedBranch.montoAsegurado" class="form-control" id="montoAsegurado"
											placeholder="Monto asegurado" />
									</div>
								</div>
								<div class="col-sm-12">
									<button type="button" class="btn btn-default" ng-click="cancel()">
										<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <span>Cancel</span>
									</button>
									<button type="button" class="btn btn-default" ng-click="saveOrUpdate()">
										<span class="glyphicon glyphicon-edit" aria-hidden="true"></span> <span>Save</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>