<section class="content-header">
	<h1>Control de flujo de efectivo</h1>
</section>
<!-- Main content -->
<section class="content">
	<div class="container-fluid">
		<div class="row row-eq-height ">
			<div class="col-md-8 ">
				<div class="box box-primary">
					<div class="box-body">
						<div class="table-responsive">
							<table class="table" >
								<tr>
									<th scope="row">Usuario</th>
									<td>{{mainData.loggedUserName}}</td>
									<th scope="row">Monto Asegurado</th>
									<td>{{mainData.montoAsegurado | currency :
										selectedCurrency : 2 }}</td>
									<th scope="row">Saldo Actual</th>
									<td>{{mainData.saldoActual | currency : selectedCurrency : 2 }}</td>
									<th scope="row">Ocioso</th>
									<td>{{mainData.ocioso | currency : selectedCurrency : 2 }}</td>
								</tr>
								<tr>
									<th scope="row">Código</th>
									<td>{{selectedBranch}}</td>
									<th scope="row">Saldo Autorizado</th>
									<td>{{mainData.saldoAutorizado | currency :
										selectedCurrency : 2 }}</td>
									<th scope="row">Punto Reorden</th>
									<td>{{mainData.montoAsegurado | currency :
										selectedCurrency : 2 }}</td>
									<th scope="row">% Utilización</th>
									<td>10%</td>
								</tr>
								
								<tr>
									<th scope="row"></th>
									<td></td>
									<th scope="row"></th>
									<td></td>
									<th scope="row"></th>
									<td></td>
									<th scope="row"></th>
									<td></td>
								</tr>
																
							</table>
						</div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<div class="col-md-4 row-eq-height">
							<div class="box box-primary">
					<div class="box-body">

						<div class="table-responsive">
					<table class="table">
						<tr>
							<th scope="row">Pronóstico</th>
							<th scope="row">Hoy</th>
							<th scope="row">Mañana</th>
						</tr>
						<tr>
							<th scope="row">Por día</th>
							<td>{{mainData.byDayToday | currency : selectedCurrency
								: 2 }}</td>
							<td>{{mainData.byDayTomorrow | currency : selectedCurrency
								: 2 }}</td>
						</tr>
						<tr>
							<th scope="row">Por fecha</th>
							<td>{{mainData.byDateToday | currency : selectedCurrency
								: 2 }}</td>
							<td>{{mainData.byDateTomorrow | currency : selectedCurrency
								: 2 }}</td>
						</tr>
					</table>
				</div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
				
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<!-- AREA CHART -->
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="box-title">Comportamiento del efectivo</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-box-tool"
								data-widget="remove">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div>

							<nvd3 options="options" data="data"></nvd3>
						</div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<div class="col-md-4">
				<div class="box box-primary">
					<div class="box-header with-border">
						<h3 class="panel-title">Detalle del comportamiento del 	efectivo</h3>
					</div>
					<div class="box-body">
						<table class="table">
							<tr ng-repeat="detail in mainData.cashBehaviorDetail">
								<th scope="row">{{detail.label}}</th>
								<td>{{detail.value | currency : selectedCurrency : 2 }}</td>
								<td><span
									class="glyphicon {{ detail | displayUpDownArrow}}"></span></td>
							</tr>
						</table>
						<table class="table">
							<tr>
								<th scope="row">Hora</th>
								<th scope="row">Saldo</th>
								<th scope="row">Tendencia</th>
							</tr>
							<tr ng-repeat="curentBalance in mainData.currentBalanceHistory">
								<td>{{ curentBalance.label}}</td>
								<td>{{curentBalance.value | currency : selectedCurrency : 2
									}}</td>
								<td><span
									class="glyphicon {{ curentBalance | displayUpDownArrow}}"></span></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="col-md-8">
				<!-- LINE CHART -->
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Variaciones del efectivo</h3>
						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool"
								data-widget="collapse">
								<i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-box-tool"
								data-widget="remove">
								<i class="fa fa-times"></i>
							</button>
						</div>
					</div>
					<div class="box-body">
						<div class="chart">
							<canvas id="lineChart" style="height: 375px"></canvas>
						</div>
					</div>
					<!-- /.box-body -->
				</div>
				<!-- /.box -->
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Detalle del comportamiento del
							efectivo</h3>
					</div>
					<div class="panel-body">
						<table class="table">
							<tr>
								<th scope="row">Varianza</th>
								<td>{{mainData.montoAsegurado | currency : selectedCurrency
									: 2 }}</td>
								<td>--</td>
							</tr>
							<tr>
								<th scope="row">LCSr</th>
								<td>{{mainData.montoAsegurado | currency : selectedCurrency
									: 2 }}</td>
								<td>--</td>
							</tr>
							<tr>
								<th scope="row">LCr</th>
								<td>{{mainData.montoAsegurado | currency : selectedCurrency
									: 2 }}</td>
								<td>--</td>
							</tr>
							<tr>
								<th scope="row">LClr</th>
								<td>{{mainData.montoAsegurado | currency : selectedCurrency
									: 2 }}</td>
								<td>--</td>
							</tr>
						</table>
						<table class="table">
							<tr>
								<th scope="row">Hora</th>
								<th scope="row">Saldo</th>
								<th scope="row">Estabilidad</th>
							</tr>
							<tr>
								<td>00:00</td>
								<td>{{mainData.montoAsegurado | currency : selectedCurrency
									: 2 }}</td>
								<td>--</td>
							</tr>
							<tr>
								<td>00:00</td>
								<td>{{mainData.montoAsegurado | currency : selectedCurrency
									: 2 }}</td>
								<td>--</td>
							</tr>
							<tr>
								<td>00:00</td>
								<td>{{mainData.montoAsegurado | currency : selectedCurrency
									: 2 }}</td>
								<td>--</td>
							</tr>
							<tr>
								<td>00:00</td>
								<td>{{mainData.montoAsegurado | currency : selectedCurrency
									: 2 }}</td>
								<td>--</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- /.content -->
